.feed{

    border-right: 1px var(--twitter-background);
    min-width: 30%;
    max-width:50%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* firefox */
}

/* hide scrollbar for chrome,safari */
.feed::-webkit-scrollbar {
    display: none;
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 10px 20px;
}

.feed__footer {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 2px solid var(--twitter-background);
    padding: 0px 20px;
    
}

.feed__footer > h2 {
    font-size: 20px;
    font-weight: 800;

}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;

}