.widgets {
    flex: 0.3;
  }

  .row{
    display: flex;
    flex-wrap: nowrap;
    padding: 0 4px;
    min-width: 20%;
  }
  
  .column{
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
    border: 1px solid var(--twitter-background);
    border-radius: 10px;

  }

  .column img {
    margin-top: 8px;
    vertial-align: middle;
    width: 100%;
  }

  .widgets__iconContainer{
    padding-bottom: 25px;
  }
  .widgets__textContainer {
    border-top: 5px solid var(--twitter-background);
  }


  .widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .widgets__input > input {
    border: none;
    background-color: var(--twitter-background);
  }
  
  .widgets__searchIcon {
    color: gray;
  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
    
    
  }
  
  .widgets__widgetContainer > h3 {
    font-size: 16px;
    font-weight: 800;
  }

  .widgets__skillBlockContainer {
    margin-bottom: 15px;
  }
  .widgets__skillBlockContainer > h3 {
    margin: 0;
  }
  .widgets__skillBlockContainer > p {
    padding-left: 12px;
    margin: 0;
  }